albumentations==1.1.0
babel
hiddenlayer
imagecodecs
imageio
ipykernel
ipython
json5
jsonschema
matplotlib
nodejs
numpy
opencv-python
pandas
pillow
pyyaml
scikit-learn
scipy
scikit-image
dicom2nifti
nibabel
h5py
seaborn
simpleitk
tqdm
wandb